<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Matthew Abbas</h1>
    <p class="lead">Software developer specializing in back-end web development</p>
  </div>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Home</ng-template>
      <ng-template ngbTabContent>
        <h4>Hello!</h4>
        <p>
          I am a software developer from Minneapolis working for <a href="https://www.blackbaud.com/" target="_blank">Blackbaud</a>.
          The majority of my work is in back-end services using the Microsoft technology stack (.NET Core, C#, Azure, etc.).
          However, I have worked on the full stack in our company's newest offerings and legacy products.
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Skills</ng-template>
      <ng-template ngbTabContent>
        <h4>Skills</h4>
        <p>.NET Core, Azure, Cosmos DB, Docker, Kubernetes, SQL Server, Angualar2, AWS</p>
        <h4>Languages</h4>
        <p>C#, SQL, PowerShell scripting (including Azure CLI), JavaScript, HTML, CSS</p>
        <h4>Methodologies</h4>
        <p>Agile, Scrum, Microservice Architecture</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Experience</ng-template>
      <ng-template ngbTabContent>
        <h4>Blackbaud</h4>
        <h5>Senior Software Engineer</h5>
        <p>
          Tech lead on back-end scrum team for Community and Foundation Services.
          Developer for GIFTS Online, the flagship foundation management solution from Blackbaud.
          Collaborated with high-profile clients on customized accounts payable solutions.
          Primary contributor to the GIFTS Online API, and worked with clients to integrate it into their business processes.
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Contact</ng-template>
      <ng-template ngbTabContent>
        <h4>Send me a message</h4>
        <form>
          <fieldset>
            <div class="form-group">
              <label class="col-form-label" for="inputEmail">Email</label>
              <input class="form-control" placeholder="Enter your email address" id="inputEmail" type="text">
              <label class="col-form-label col-form-label" for="inputMessage">Message</label>
              <textarea class="form-control" placeholder="Enter your message" id="inputMessage" rows="5"></textarea>
              <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <hr>
  <footer class="page-footer center-on-small-only bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h5 class="title text-white">Matthew Abbas</h5>
          <p class="text-white">Software developer located in Minneapolis</p>
        </div>
        <div class="col-md-6">
          <h5 class="title text-white">Contact</h5>
          <p>
            <button type='button' class="btn btn-outline-light"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email</button>&nbsp;&nbsp;
            <button type='button' class="btn btn-outline-light"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</button>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container-fluid text-white">
        <p>Copyright Matthew Abbas 2018 &copy; <a href="http://www.matthewabbas.com"> MatthewAbbas.com </a></p>
      </div>
    </div>
  </footer>
</div>